::ng-deep {
  .p-inputtext {
    width: 270px;
    height: 35px;
  }
  .p-steps {
    max-width: 650px;
    padding: 20px;
    margin-left: 25%;
  }
}

.footer {
  background-color: white;
  height: 100px;
  vertical-align: bottom;
  padding-left: 25px;
}

.addCooperative {
  padding-left: 25px;
}
