.navBarTitulo {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #101213;
  font-family: EXO;
}

.navBarSubTitulo {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #787878;
}

.navbar {
  padding-top: 19px;
  padding-left: 24px;
  padding-bottom: 38px;
}

.navbarCompany {
  width: 109px;
  height: 32px;
  padding-top: 5px;
  margin: 15px;
  border: 1px solid #125d79;
  border-radius: 15px;
  text-align: center;
  color: #125d79;
  font-weight: 800;
}

.usuario {
  height: 42px;
}

.sino {
  height: 30px;
}
