<div class="navbar">
  <div class="grid align-items-center">
    <div class="col">
      <div class="navBarTitulo">NOVA ADMISSÃO COOPERADO</div>
      <div class="navBarSubTitulo">
        Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado
      </div>
    </div>
    <div class="col-fixed px-5">
      <div class="grid align-items-center">
        <img src="assets/sino.png" class="sino" />
        <div class="navbarCompany">VIACREDI</div>
        <img src="assets/user.png" class="usuario" />
      </div>
    </div>
  </div>
</div>
