/* You can add global styles to this file, and also import other style files */
.legenda {
  font-size: 11px;
}

.titulo {
  font-size: 22px;
  font-weight: 600;
}

.tituloCard {
  font-size: 14px;
  color: #040f14;
}

.subTituloCard {
  font-size: 22px;
}

.bodyText {
  font-size: 14px;
  color: var(--primary-color);
}
