<div class="h-full sidebar">
  <div class="grid">
    <div class="col-12 flex align-items-center justify-content-center py-5">
      <img src="assets/ailos.svg" class="logo" />
    </div>
    <div
      class="col-12 flex align-items-center justify-content-center link py-3"
    >
      <fa-icon class="icon" [icon]="faBars"></fa-icon>
    </div>
    <div
      class="col-12 flex align-items-center justify-content-center link py-3"
    >
      <fa-icon class="icon" [icon]="faMagnifyingGlass"></fa-icon>
    </div>
    <div
      class="col-12 flex align-items-center justify-content-center link py-3"
    >
      <fa-icon class="icon" [icon]="faStar"></fa-icon>
    </div>
    <div
      class="col-12 flex align-items-center justify-content-center link py-3"
    >
      <fa-icon class="icon" [icon]="faCommentDots"></fa-icon>
    </div>
    <div
      class="col-12 flex align-items-center justify-content-center link py-3"
    >
      <fa-icon class="icon" [icon]="faSliders"></fa-icon>
    </div>
    <div
      class="col-12 flex align-items-center justify-content-center link py-3"
    >
      <fa-icon class="icon" [icon]="faBuilding"></fa-icon>
    </div>
  </div>
</div>
